* {
    padding: 0;
    margin: 0;
}
  
body {
    font-family: sans-serif;
    background-color: #7d97a5;
    color: white;
    font-size: 22px;
}

.container {
    display: grid;
    grid-template-columns: 280px auto;
    grid-template-rows: 80px auto;
    height: 100vh;
}

.header {
    grid-row: 1/2;
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303e45;
    width: 100vw;
    height: 80px;
    font-size: 50px;
}

hr {
    display: block;
    height: 1px;
    width: 260px;
    border: 0;
    border-top: 2px solid #ccc;
    margin: 8px 0px;
    padding: 0;
}

.projects {
    grid-row: 2/2;
    grid-column: 1/2;
    width: 260px;
    background-color: #57707d;
    padding: 10px;
}
  
.tasks {
    grid-row: 2/2;
    grid-column: 2/3;
    padding: 10px 20px;
    max-width: 1040px;
}

.task-item,
.project-item {
    display: flex;
    grid-row: 1/2;
}

.project-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    align-items: flex-start;
    padding: 4px;
    border: 1px solid rgba(0, 0, 0, 0.0);
    border-radius: 6px;
    margin: 8px 0px;
    height: 29px;
}

.task-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    justify-content: start;
    align-items: flex-start;
    padding: 4px;
    border: 1px solid rgba(0, 0, 0, 0.0);
    border-radius: 6px;
    margin: 8px 0px;
}

.project-container:hover .project-delete-button {
    display: flex;
    justify-content: center;
}

.project-item {
    grid-column: 1/2;
    grid-row: 1/2;
    word-wrap: break-word;
    width: 205px;
    max-width: 205px;
    margin-left: 3px;
}

.task-container:hover .task-delete-button {
    display: flex;
    justify-content: center;
}

.task-container:hover .task-expand-button {
    display: flex;
    justify-content: center;
}

.task-item,
.finished-task-container {
    grid-column: 2/3;
    grid-row: 1/2;
    word-wrap: break-word;
    width: 856px;
    max-width: 856px;
}

.task-item {
    margin-left: 6px;
}

.task-delete-button,
.project-delete-button,
.task-expand-button {
    display: none;
    align-items: center;
}

.project-delete-button {
    grid-column: 2/3;
    width: 40px;
    justify-items: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.0);
    border-radius: 6px;
    margin-right: 5px;
}

.task-finished-button {
    display: flex;
    grid-column: 1/2;
    grid-row: 1/2;
    justify-content: center;
    align-items: center;
    width: 40px;
    border: 1px solid rgba(0, 0, 0, 0.0);
    border-radius: 6px;
}

.task-delete-button {
    grid-column: 4/5;
    width: 40px;
    border: 1px solid rgba(0, 0, 0, 0.0);
    border-radius: 6px;
}

.task-expand-button {
    grid-column: 3/4;
    font-size: 17px;
    align-items: center;
    width: 80px;
    border: 1px solid rgba(0, 0, 0, 0.0);
    border-radius: 6px;
    height: 27px;
}

.task-expand-container {
    grid-column: 2/3;
    grid-row: 2/3;
}

.finished-tasks-heading {
    margin-top: 40px;
}

button {
    color: white;
    background: rgba(0, 0, 0, 0.0);
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 22px;
    padding: 6px;
    margin-right: 12px;
    border: 1px solid rgba(0, 0, 0, 0.0);
    border-radius: 6px;
}

.project-input {
    margin-top: 20px;
    padding-left: 8px;
    width: 250px;
    outline: 0;
    background-color: white;
    height: 40px;
    border: 1px solid #57707d;
    border-radius: 6px;
}

.add-task-form-container {
    background-color: #43565f;
    border: 1px solid #43565f;
    border-radius: 6px;
    padding: 12px;
    margin-top: 20px;
}
  
input[type=text] {
    padding-left: 8px;
    outline: 0;
    background-color: white;
    height: 40px;
    border: 1px solid #7d97a5;
    border-radius: 6px;
}

input[type=date],
select {
    width: 200px;
}

input[type=checkbox] {
    position: relative;
    top: 0;
    bottom: 2;
    color: #303e45;
    height: 20px;
    width: 20px;
}

label {
    margin-top: 12px;
    margin-bottom: 5px;
    font-size: 0.8em;
}
  
.add-new-project {
    padding: 4px;
    margin-top: 8px;
    border: 1px solid rgba(0, 0, 0, 0.0);
    border-radius: 6px;
}
  
.new-project-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}
  
.new-task-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}
  
.add-new-task {
    padding: 4px;
    margin-top: 8px;
    width: 252px;
    border: 1px solid rgba(0, 0, 0, 0.0);
    border-radius: 6px;
}

form {
    display: flex;
    flex-direction: column;
}
  
button:hover {
    background:rgba(0, 0, 0, 0.3);
}
  
.hover:hover {
    background:rgba(0, 0, 0, 0.3);
}
  
.pointer {
    cursor: pointer;
}

.clicked,
.clicked:hover {
    background-color: #43565f;
}

.hidden {
    display: none;
}

.task-description-value,
.task-priority-value,
.task-due-date-value {
    margin-top: 4px;
    margin-left: 20px;
    font-size: 0.8em;
    grid-column: 1;
}

.task-description-value {
    margin-top: 12px;
    grid-row: 2;
}

.task-priority-value {
    grid-row: 3;
}

.task-due-date-value {
    grid-row: 4;
    margin-bottom: 12px;
}